<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/_template.css">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <title>{{ titulo }}</title>
</head>

<body>

    <div id="wrap">

        <header>
            <a href="/">
                <i class="fa-solid fa-cubes fa-fw"></i>
                <h1>CRUDTrecos</h1>
            </a>
        </header>

        <nav>
            <a href="/" title="Listar meus trecos"><i class="fa-regular fa-rectangle-list fa-fw"></i><span>Listar</span></a>
            <a href="/novo" title="Cadastrar novo treco"><i class="fa-solid fa-plus fa-fw"></i><span>Novo</span></a>
            <span>
                Olá {{ usuario.pnome }}!
                <button id="logout" title="Sair / Logout do aplicativo"><i class="fa-solid fa-xmark fa-fw"></i></button>
            </span>
        </nav>

        <main>

            <h2>Teste</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quam incidunt nemo vitae aliquam iste autem quasi quos dolorem rem velit nisi neque nostrum magnam enim asperiores corrupti, ipsum molestias.</p>

        </main>

        <footer>
            <i class="fa-regular fa-copyright fa-rotate-180 fa-fw"></i>
            copyleft 2024 Joca da Silva
        </footer>

    </div>

</body>

</html>